{% load static %}
{% load django_bootstrap5 %}

<!doctype html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.1/css/all.min.css">

        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <script src="{% static "jquery.min.js" %}" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="></script>

        <script src="{% static "tom-select.complete.min.js" %}" integrity="sha384-Hnof5Csstpcrk+thlHZ8VXXkD/Wk96gkCvwIvpwYLBVIAPyQA3gkqcPO+RwLARmZ"></script>
        <link rel="stylesheet" href="{% static "tom-select.bootstrap5.css" %}" integrity="sha384-3syGtcTzvEB6zjzJ4BQ2loMdsaYaxAjWjD3GcbCLAPAE2XkENSR94WcY8c3g5lNu" />
        <link href="{% static "bios.css" %}" rel="stylesheet">

        <script src="{% static "main.js" %}"></script>

        <title>{{ settings.BRANDING_NAME }}</title>
    </head>
    <body>
        <a class="visually-hidden-focusable" href="#content">Skip to main content</a>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url "authentication:index" %}">{{ settings.BRANDING_NAME }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "destinations:students" %}{% if request.GET.year %}?year={{ request.GET.year }}{% endif %}">Students</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "destinations:colleges" %}{% if request.GET.year %}?year={{ request.GET.year }}{% endif %}">Colleges</a>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "profile:index" %}">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "authentication:logout" %}">Logout</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container pt-3">
            {% if settings.GLOBAL_MESSAGE %}
                <div class="alert alert-warning" role="alert">
                    {{ settings.GLOBAL_MESSAGE|safe }}
                </div>
            {% endif %}
            {% if messages %}
                <div class="row">
                    <div class="col">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
